body{
margin:0;
font-family:Arial;
background:black;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

/* INTRO */

#intro{
position:absolute;
}

#cakeScreen{
display:none;
flex-direction:column;
align-items:center;
}

/* CAKE */

.cake{
position:relative;
margin-bottom:30px;
}

.layer{
width:200px;
height:40px;
border-radius:10px;
margin:auto;
}

.layer1{background:#ff8fa3}
.layer2{background:#ffb3c1;margin-top:-10px}
.layer3{background:#ffc2d1;margin-top:-10px}

/* CANDLES */

.candles{
display:flex;
justify-content:center;
gap:25px;
margin-bottom:10px;
}

.candle{
width:10px;
height:35px;
background:white;
position:relative;
border-radius:3px;
}

.flame{
position:absolute;
top:-15px;
left:50%;
transform:translateX(-50%);
width:12px;
height:18px;
background:orange;
border-radius:50%;
animation:flicker 0.3s infinite alternate;
}

@keyframes flicker{
from{transform:translateX(-50%) scale(1)}
to{transform:translateX(-50%) scale(1.3)}
}

/* BUTTON */

button{
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:#ff4081;
color:white;
cursor:pointer;
}

/* POPUP */

#popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.card{
background:white;
color:black;
padding:40px;
border-radius:15px;
text-align:center;
}

.card img{
width:200px;
border-radius:50%;
margin-top:20px;
}
